*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.idea

cache
checkpoint
conf/*.cmd
conf/*.conf
# conf/*.properties
# conf/*.sh
dependency-reduced-pom.xml
derby.log
target/

# For Hive
TempStatsStore/
metastore/
metastore_db/
sql/hive-thriftserver/test_warehouses
warehouse/
spark-warehouse/

# For SBT
.jvmopts
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
